<div class="row mb-2">
  <div class="col-md-8">
    <h4>Comments:</h4>
  </div>
  <div class="row mb-4 comment">
    <div class="col-md-7">
      <p class="comment-content">{{comment_content}}</p>
      <p>Created by {{user.username}} on {{format_date date_created}}</p>
    </div>
  </div>
</div>